/*--Header--*/
.Header-Navbar.scrolled {
    box-shadow: 0 0px 1px var(--gris-oscuro);
}

.Header-Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    background-color: var(--gris-claro);
    border-bottom: 1px solid var(--gris-claro);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 0px 1px var(--gris-oscuro);
    backdrop-filter: blur(4px);
    box-sizing: border-box
}

.logo img {
    height: 80px;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: var(--azul-marino);
    font-weight: 800;
    font-size: 1.3rem;
    font-family: var(--fuente-principal);
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--rojo);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.ul-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    list-style: none;
    gap: 3rem;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.auth-buttons {
    display: inline-flex;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid var(--gris-oscuro); /* contorno general */
    font-family: var(--fuente-principal);
}

.auth-buttons a {
    padding: 0.8rem 1.8rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    display: inline-block;
    transition: all 0.3s ease;
    text-align: center;
    white-space: nowrap;
}

/* Botón amarillo */
.login-tab {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* Botón gris claro */
.register-tab {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* Efectos al pasar el mouse */
.login-tab:hover {
    background-color: var(--amarillo);
    transform: scale(1.08); /* Aumenta ligeramente el tamaño */
    z-index: 4; /* Se superpone levemente sobre el otro botón */
}

.register-tab:hover {
    background-color: var(--amarillo);
    transform: scale(1.08);
    z-index: 4;
}